* {
    font-family: helvetica;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#volumeControl {
    position: relative;
}

.slider {
    width: 300px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
}

.handle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

#volumeLabel {
    position: absolute;
    top: -50px;
    left: 70px;
    font-size: 32px;
    font-weight: bold;
}

#submitVolume {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitVolume:hover {
    background-color: #6ad86f;
}

#resetBalls {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ca4343;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#resetBalls:hover {
    background-color: #e45c5c;
}
#songPlayer{
    padding-bottom: 30px;
    padding-top: 20px;
    
}

#playPauseBtn{
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 25px;
    background-color: #3f0c34;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#playPauseBtn:hover{
    background-color: #992881;
}